<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ScreenDesigner.Properties.Settings>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenDesigner.Properties.Settings>
    </userSettings>
</configuration>